{% load static %}
<!doctype html>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #79fce9;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Expense Tracker</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'addbook' %}">Add New Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'listcategory' %}">View Book Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'userlogout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'usersignup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Login</a>
          </li>
          {% endif %}
          </li>
        </ul>
        {% if user.is_authenticated %}
        <form class="d-flex" method=POST action="{% url 'searchbook' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search book by title" aria-label="Search" name="searched">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        {% endif %} 
      </div>
    </div>
  </nav>