{% extends 'home/base.html' %}

{% block content%}


<center>
    <div class="card" style="width: 38rem;">
        <div class="card-header" style="font-family: Helvetica; font-size: x-large;">
            Password reset sent
        </div>
        <div class="card-body">
            <p class="card-text" style="text-align: left; font-size: large;">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br/><br/> 
                You should receive them shortly.
                If you don’t receive an email, please make sure you’ve correctly entered the email address you registered with, and check your spam folder.
            </p>
        </div>
    </div>
</center>




{% endblock %}