{% extends 'home/base.html' %}

{% block content%}


<center>
    <div class="card" style="width: 38rem;">
        <div class="card-header" style="font-family: Helvetica; font-size: x-large;">
            Password reset complete
        </div>
        <div class="card-body">
            <p class="card-text" style="text-align: left; font-size: large;">
                Your password has been reset.<br/> 
                Please login using your new password!
            </p>
        </div>
        <div class="card-footer text-muted" style="font-size: large;">
            <a href="{% url 'home' %}" class="btn btn-outline-primary btn-lg">Return to login page</a>
        </div>

</center>



{% endblock %}