{% extends 'home/base.html' %}

{% block content%}


<center>
    <div class="card" style="width: 38rem;">
        <div class="card-header" style="font-family: Helvetica; font-size: x-large;">
            Password Reset Form
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size: large;">
                Please enter your new password below
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                <dir style="font-size: large; text-align: left;">
                {{ form.as_p }}
                </dir>
                </br>
                <input type="submit" class="btn btn-outline-info btn-lg" value="Reset Password" /><br>
            </form>
        </div>
    </div>
</center>



{% endblock %}